<nav class="bottom-nav">
  <a routerLink="/home" routerLinkActive="active" class="nav-item">
    <mat-icon [svgIcon]="icons.home"></mat-icon>
    <span>Início</span>
  </a>
  <a routerLink="/home" class="nav-item">
    <mat-icon [svgIcon]="icons.calendar"></mat-icon>
    <span>Agendamentos</span>
  </a>
  <a routerLink="/home" class="nav-item">
    <mat-icon [svgIcon]="icons.headset"></mat-icon>
    <span>Central</span>
  </a>
  <a routerLink="/home" class="nav-item">
    <mat-icon [svgIcon]="icons.person"></mat-icon>
    <span>Perfil</span>
  </a>
</nav>
